dist: trusty
jdk: oraclejdk8
language: java
services:
- postgresql
- docker
before_install:
- chmod +x mvnw
env:
  global:
  - secure: vnCEwRpk8jNbtgn/9aBKMDDgbuAc64QYFpTfw2qrarYkwmcUxU/CfdK56p1Tsx2QdrITcGz3M08O+jnP2eENwHMcN3fINhcOiAr0R3S07pU1quwoAcVZOPtCoLpAFM7CsgjrtzcL454k+EumCqXlSv1FeXyVdz9T7FeeS4QV3avuXFICET8/8rjwjWiUlW3pJ4VpRZ+ZiL8WTtZzO1efYLsL6xmI4fQYg0npFwcBYyYntIaISE/nZhcO6iNxkhBSj7YkGYbvj27j1CqkyeANB3ro/KzETigGCr40gpSz72AaP1y5FytMFUeMrGO0qAdZ2vv8P6LcZKfHx3xjxTpasb6sMqhEc6MG4B4JSyQYGTeJTG50Y8O9jnYz7VyrrkT4ARVysBAunpj3Z1Ag0RIp61j8k0hfS9V2o/uacLQO9MmzpiptWcoZatBEZNJMWbWedTarv2OrvYvjRYelbU++rBEv1xIz9ywqQCz+1O+mPNletil6wkNxzx+Z9ecrncLIcj8JFcwIONwRfqbDasEjVyIgsC5fglOumf4HCRU+0V++y8735p2KlGW538+eUvJdO7MTDhNT+2PcexFwjM0IhiRzKlJyqOVHFeMYUwTybsukDDvQdYRSRm8A/YkRaMdCvaGo6v5KjSbm0I8dWP43cEYyR8Yl54pD7oHs8z+QLPI=
  - secure: KxcoeW4LT9tmr9ysbzbQq2yd4MBNlAdHMoppulctZivdkPExaQsQyfMTJHKt/P0AhXzhQ/px3h9A0aCL3NklRizSrl5axPPoMOJXQj5LUCFtMDAG5GdGUOePvjZPvLtKH9bNo/yEOrCCziY5x7yQ8QNi/LA/dGsj6M02oAbeFnpCIzpml5epaVJwRNXmsUn8Oabv295kyy+/AAjlLBGny5De8SGf9XpVrwadr7DK0514mb81ZExmzCyBo2U8lQ3t4/+HOeb+JWw3ls67sGPv2cbW3MztRpI+MKYGsKAFF/bXsbeoke2GqWR9Wf/IARUcFV3TzP6zj3GxfLyjuYdXpeYOxdbP2+RZixWmyZOC2LGpM8yr8RIm94bwnxnltNjj06tbmlWk2Uasxk15njx7Cx2w8I7mm9pxDrpQVkH7U8M0StuAcZfH56M+pdPLwEJ7yCVmWtMwSR8Omu1sqlL6llxc0xxX9kn1j7A7fsHu1b4h6gt1F/QhkZG1m4fuY5IDR/A278zF218SKuMEDC3uHICD02vtq+ejPU1oHT5FSo3igqt2wGdWoR2merqFssm2q/wiIrejmnYy0WvYqZ8f7SZiEKo3S1c27r3440VF1B+IHssMZnbnUKB205twXS/rHwVhL8FVLeTAYGPK3l6FA0k9EuFL+8q7K1IXWkHwUHI=
  - secure: keAwnXTLfkExe2jTDVg82nfIdFFS87DRWepnOZRpv5jn66+ktxvt+kvqNmXRH7Iu8RUYb6FGSZbKvjX5cFagRYHUlrU0euLeWiuUfaDr7t2S2u9VeCKqBL0mQn3eOK1ZorQhejlfBjB5zhI0pWQ3wnShSRMRi0OdCDAps7znmQhHapq7A23ZMJQvlmYZYRXocj3WQ4XdRUHfCidNvUdWM0l6UDqHCKx8Bv+SZdu1CW3mFLxHJp7nj2nEK+Ur8hE7DZ93M+xepVDPNeYLPVFoMiF1s3x5XlLvcIOaSawyKNDwOUQbab6+qd5i+LK3BnHslT4ZAuUlP533jc4YGrZD4rWHVKxx77RRb0XY2ndz1h5fTkZ12CCllYREhG0ZI3ug2E1vEcJ5v8aU3GrnL2iVEDGZpZ+n57ZRbQYP1hmCWOS6/a8R4NGRAyMrGd1FDP55ckh7uU5z/b9FMKP0RWQBNMrR1jLqLg5nJyAmjmW6c8ADqWosuJlZl+qtavIcINcZARTyEXbKq6gKCXQIsBRG4n/HJLhq2ESWF1TdhMETgDKRWRmF76LejJkvpyWXTDH2hC5P6V6MVz/mrngyT7nQuukfM+b/yQl4YTtFR3ahcyPAwTSqpHLkvlJMBE2s99g0S193IMskkD52vUgqDBbWJ6jxMXJfUKrHV93S1DfvnYY=
  - COMMIT=${TRAVIS_COMMIT::7}
script:
- "./mvnw clean install -B"
after_success:
- docker login -u $DOCKER_USER -p $DOCKER_PASS
- export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo "$TRAVIS_BRANCH";
  fi`
- export IMAGE_NAME=mf0001/my-docker-repo
- docker build -t $IMAGE_NAME:latest .
- docker tag $IMAGE_NAME:latest $IMAGE_NAME:$TAG
- docker push $IMAGE_NAME:$TAG
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY"
  app: demoapi-labs
